# -----------------------------
# 🧩 Global (공통 무시)
# -----------------------------
.DS_Store
*.log
*.tmp
*.swp
.env
.env.*
*.pyc
__pycache__/
**/__pycache__/
*.pdf

# Python virtual environments
.venv/
venv/
**/.venv/
**/venv/
# 로그 디렉토리 (직접 만든 logs 폴더 등)
logs/
log/

# -----------------------------
# ⚛️ React (frontend/realty)
# -----------------------------
frontend/realty/node_modules/
frontend/realty/dist/
frontend/realty/.env*
frontend/realty/npm-debug.log
frontend/realty/yarn-error.log
frontend/realty/.vite/
frontend/realty/.cache/

# -----------------------------
# ☕ Spring Boot (backend/)
# -----------------------------
backend/build/
backend/.gradle/
backend/*.jar
backend/.env*
backend/application.yml
backend/*.log

# -----------------------------
# 🐍 FastAPI (ai-api/)
# -----------------------------
ai-api/.pytest_cache/
ai-api/venv/
ai-api/.env*
ai-api/*.log

ai-api/__pycahche__
ai-api/api/news_scraper/app/json/*.json

.vscode/settings.json
# ocr propertis

ai-api/api/ocr/output/*.jpg
ai-api/api/ocr/output/*.pdf
ai-api/api/ocr/output/*.png